*{margin:0;
padding:0;}/* Browser reset */
body{background:#3B444B;}
#container{background:black;padding: 1em;margin: 0 auto;max-width:960px;/* first value for top and bottom, second value for left and right*/}
h1 a{text-decoration:none;color:white;font-family: 'Raleway', sans-serif;font-size:60px;}
h1{text-align:center;}
h2{text-align:center;font-size:40px;}
h3{font-size:20px;}
header{font-family: 'Raleway', sans-serif;color:white; text-align:center;}
nav ul{overflow: hidden;
    background-color: black; padding:10px; margin:5px auto;}
nav li{;text-align: center;
list-style-type: none; border-bottom:solid 1px #999;}
nav a{text-decoration:none; display:block; padding:1em; font-family: 'Raleway', sans-serif; color:white; text-transform: uppercase;}
nav a:hover{background-color:#848482;border-radius: 5px;}
p{color:white;font-family: 'Playfair Display', serif;}
blockquote{color:white;font-family: 'Playfair Display', serif;margin-bottom:1em;}
p, h4, h3, h2{margin-bottom:1em;}/* 1em = font size of element */
h1, h2, h3, h4{margin-top:1.5em;}
h2,h3, h4{font-family: 'Raleway', sans-serif;color:white;}
ul{padding-left:1em; color:white;font-family: 'Playfair Display', serif;}
footer{font-family: 'Raleway', sans-serif;color:white;}
#Guitar img{width:100%;}
#George img{width:60%;}
@media (min-width: 768px) {
	nav li{display:inline-block;
		border-bottom:none;}
	nav{text-align:center; background-color:black;}
	.col-3{width:32%;
		float:left;
		margin-right:2%;}
	#Events{margin:0;}
}
